################################################################## 
# smartmet-tools-grid : radon2smartmet
##################################################################

# This is a configuration file for "radon2smartmet" program. 
# The program is used for synchronizing content information 
# in the Redis database according to the information stored 
# into the Radon database. 

##################################################################

# Importing global configuration parameters. There should be
# an environment variable SMARTMET_ENV_FILE that points to
# the global configuration file. The idea is that you can easily
# change your environment by editing this file. 

@ifdef SMARTMET_ENV_FILE
  @include "$(SMARTMET_ENV_FILE)"
@endif



# This information is needed for initializing the grid-library. 

smartmet.library.grid-files.configFile = "/config/libraries/grid-files/grid-files.conf"



smartmet :
{
tools :
{
grid :
{


radon2smartmet :
{ 
  # The "addFileInfoListWithContent" message can contain max this many records:
  
  maxMessageSize = 10000
      

  content-source :
  {
    # There might be different content sources that update information
    # in the content server. That's why they should have an unique identifier.
    
    source-id = 100
    
    
    # This file contains a list of producer names which content is updated
    # to the content server.
    
    producerFile = "$(RADON_PRODUCERFILE)"
    
    radon :
    {
      connection-string = "host=$(RADON_HOST) dbname=$(RADON_DATABASE) user=$(RADON_USER) password=$(RADON_PASSWORD)"
    }
  
  }  


  content-storage  : 
  {
    # Content storage type (redis/corba/http)
    
    type = "redis"

    redis :
    {
      address      = "$(REDIS_CONTENT_SERVER_ADDRESS)"
      #address      = "127.0.0.1"
      port         = $(REDIS_CONTENT_SERVER_PORT)
      tablePrefix  = "$(REDIS_CONTENT_SERVER_TABLE_PREFIX)"
    }
    
    corba :
    {
      ior          = "$(CORBA_CONTENT_SERVER_IOR)"
    }

    http :
    {
      url          = "$(HTTP_CONTENT_SERVER_URL)"
    }    
  }
  
  processing-log :
  {
    enabled      = false
    file         = "/dev/stdout"
#    file         = "$(GRID_TOOLS_LOG_DIR)/radon2smartmet_processing.log"
    maxSize      = 100000000
    truncateSize = 20000000
  }
    
  debug-log :
  {
    enabled      = true
    file         = "/dev/stdout"
#    file         = "$(GRID_TOOLS_LOG_DIR)/radon2smartmet_debug.log"
    maxSize      = 100000000
    truncateSize = 20000000
  }
    
}


}
}
}
