.TemperatureSea_missing    { stroke: none; fill: rgba(240,240,240,1.00); }
.TemperatureSea_-2_-1    { stroke: none; fill: rgba(80,91,150,1.00); }
.TemperatureSea_-1_0    { stroke: none; fill: rgba(148,162,194,1.00); }
.TemperatureSea_0_1    { stroke: none; fill: rgba(232,250,249,1.00); }
.TemperatureSea_1_2    { stroke: none; fill: rgba(93,174,150,1.00); }
.TemperatureSea_2_3    { stroke: none; fill: rgba(118,184,85,1.00); }
.TemperatureSea_3_4    { stroke: none; fill: rgba(193,224,88,1.00); }
.TemperatureSea_4_5    { stroke: none; fill: rgba(241,251,91,1.00); }
.TemperatureSea_5_6    { stroke: none; fill: rgba(243,228,77,1.00); }
.TemperatureSea_6_8    { stroke: none; fill: rgba(244,188,53,1.00); }
.TemperatureSea_8_10    { stroke: none; fill: rgba(245,150,32,1.00); }
.TemperatureSea_10_12    { stroke: none; fill: rgba(246,109,9,1.00); }
.TemperatureSea_12_14    { stroke: none; fill: rgba(242,71,6,1.00); }
.TemperatureSea_14_16    { stroke: none; fill: rgba(223,7,12,1.00); }
.TemperatureSea_16_18    { stroke: none; fill: rgba(188,3,35,1.00); }
.TemperatureSea_18_20    { stroke: none; fill: rgba(154,0,61,1.00); }
.TemperatureSea_20_25    { stroke: none; fill: rgba(181,2,94,1.00); }
.TemperatureSea_25_30    { stroke: none; fill: rgba(224,8,119,1.00); }
.TemperatureSea_30_35    { stroke: none; fill: rgba(186,18,68,1.00); }
.TemperatureSea_35    { stroke: none; fill: rgba(155,10,46,1.00); }[
