.correctedreflectivity_0_5  { stroke: none; fill: #0055f4 }
.correctedreflectivity_5_10 { stroke: none; fill: #00bacc; }
.correctedreflectivity_10_15 { stroke: none; fill: #00a4a5; }
.correctedreflectivity_15_20 { stroke: none; fill: #008261; }
.correctedreflectivity_20_25 { stroke: none; fill: #00943a; }
.correctedreflectivity_25_30 { stroke: none; fill: #00e10e; }
.correctedreflectivity_30_35 { stroke: none; fill: #daff1f; }
.correctedreflectivity_35_40 { stroke: none; fill: #ffbc00; }
.correctedreflectivity_40_45 { stroke: none; fill: #ff9800; }
.correctedreflectivity_45_50 { stroke: none; fill: #ff6c00; }
.correctedreflectivity_50_55 { stroke: none; fill: #ff4e00; }
.correctedreflectivity_55_60 { stroke: none; fill: #bf0135; }
.correctedreflectivity_60_65 { stroke: none; fill: #8e026f; }
.correctedreflectivity_65_70 { stroke: none; fill: #ff00ff; }
