.Precipitation_01_02	{ stroke: none; fill: rgb(10,155,255) }
.Precipitation_02_05	{ stroke: none; fill: rgb(5,205,170) }
.Precipitation_05_1	{ stroke: none; fill: rgb(140,230,20) }
.Precipitation_1_2	{ stroke: none; fill: rgb(240,240,20) }
.Precipitation_2_5	{ stroke: none; fill: rgb(255,205,20) }
.Precipitation_5_10	{ stroke: none; fill: rgb(255,80,60) }
.Precipitation_10_inf	{ stroke: none; fill: rgb(213,26,13) }
