.HiResTemperature_inf_50 	{ stroke:none; fill: #69038a }
.HiResTemperature_50_49 	{ stroke:none; fill: #3c0271 }
.HiResTemperature_49_48 	{ stroke:none; fill: #551e8a }
.HiResTemperature_48_47 	{ stroke:none; fill: #633095 }
.HiResTemperature_47_46 	{ stroke:none; fill: #70429f }
.HiResTemperature_46_45 	{ stroke:none; fill: #7f55ac }
.HiResTemperature_45_44 	{ stroke:none; fill: #8c66b6 }
.HiResTemperature_44_43 	{ stroke:none; fill: #9d7dc2 }
.HiResTemperature_43_42 	{ stroke:none; fill: #b196d2 }
.HiResTemperature_42_41 	{ stroke:none; fill: #c0a9de }
.HiResTemperature_41_40 	{ stroke:none; fill: #cdbbe8 }
.HiResTemperature_40_39 	{ stroke:none; fill: #daccf3 }
.HiResTemperature_39_38 	{ stroke:none; fill: #c7c8f9 }
.HiResTemperature_38_37 	{ stroke:none; fill: #b7b9f3 }
.HiResTemperature_37_36 	{ stroke:none; fill: #a9aaeb }
.HiResTemperature_36_35 	{ stroke:none; fill: #9699e2 }
.HiResTemperature_35_34 	{ stroke:none; fill: #8486d7 }
.HiResTemperature_34_33 	{ stroke:none; fill: #7073cc }
.HiResTemperature_33_32 	{ stroke:none; fill: #5d5fc2 }
.HiResTemperature_32_31 	{ stroke:none; fill: #4749b6 }
.HiResTemperature_31_30 	{ stroke:none; fill: #2b2da6 }
.HiResTemperature_30_29 	{ stroke:none; fill: #070a8d }
.HiResTemperature_29_28 	{ stroke:none; fill: #02337d }
.HiResTemperature_28_27 	{ stroke:none; fill: #0b3f8d }
.HiResTemperature_27_26 	{ stroke:none; fill: #1f529e }
.HiResTemperature_26_25 	{ stroke:none; fill: #3664ab }
.HiResTemperature_25_24 	{ stroke:none; fill: #4d75b6 }
.HiResTemperature_24_23 	{ stroke:none; fill: #6386c1 }
.HiResTemperature_23_22 	{ stroke:none; fill: #a4c9f3 }
.HiResTemperature_22_21 	{ stroke:none; fill: #87a2d3 }
.HiResTemperature_21_20 	{ stroke:none; fill: #96b2e0 }
.HiResTemperature_20_19 	{ stroke:none; fill: #a4c9f3 }
.HiResTemperature_19_18 	{ stroke:none; fill: #b8e0fa }
.HiResTemperature_18_17 	{ stroke:none; fill: #a6d3ee }
.HiResTemperature_17_16 	{ stroke:none; fill: #91c3e2 }
.HiResTemperature_16_15 	{ stroke:none; fill: #79b4d8 }
.HiResTemperature_15_14 	{ stroke:none; fill: #68a4ca }
.HiResTemperature_14_13 	{ stroke:none; fill: #5595c0 }
.HiResTemperature_13_12 	{ stroke:none; fill: #3f85b3 }
.HiResTemperature_12_11 	{ stroke:none; fill: #2b76a6 }
.HiResTemperature_11_10 	{ stroke:none; fill: #17689b }
.HiResTemperature_10_9 	{ stroke:none; fill: #055990 }
.HiResTemperature_9_8 	{ stroke:none; fill: #036888 }
.HiResTemperature_8_7 	{ stroke:none; fill: #017e91 }
.HiResTemperature_7_6 	{ stroke:none; fill: #0c8c9f }
.HiResTemperature_6_5 	{ stroke:none; fill: #279eb1 }
.HiResTemperature_5_4 	{ stroke:none; fill: #3fb4c3 }
.HiResTemperature_4_3 	{ stroke:none; fill: #63c6d5 }
.HiResTemperature_3_2 	{ stroke:none; fill: #7fd9e6 }
.HiResTemperature_2_1 	{ stroke:none; fill: #97e9f4 }
.HiResTemperature_1_0 	{ stroke:none; fill: #b1f1fa }
.HiResTemperature_0_1 	{ stroke:none; fill: #28860  }
.HiResTemperature_1_2 	{ stroke:none; fill: #13a06e }
.HiResTemperature_2_3 	{ stroke:none; fill: #3db481 }
.HiResTemperature_3_4 	{ stroke:none; fill: #5ac48a }
.HiResTemperature_4_5 	{ stroke:none; fill: #72d585 }
.HiResTemperature_5_6 	{ stroke:none; fill: #88e581 }
.HiResTemperature_6_7 	{ stroke:none; fill: #92f58a }
.HiResTemperature_7_8 	{ stroke:none; fill: #acfba7 }
.HiResTemperature_8_9 	{ stroke:none; fill: #cdfbb0 }
.HiResTemperature_9_10 	{ stroke:none; fill: #e7fbb0 }
.HiResTemperature_10_11 	{ stroke:none; fill: #f5fcac }
.HiResTemperature_11_12 	{ stroke:none; fill: #faf97e }
.HiResTemperature_12_13 	{ stroke:none; fill: #faf21e }
.HiResTemperature_13_14 	{ stroke:none; fill: #fbe819 }
.HiResTemperature_14_15 	{ stroke:none; fill: #f9dc17 }
.HiResTemperature_15_16 	{ stroke:none; fill: #facf05 }
.HiResTemperature_16_17 	{ stroke:none; fill: #fac305 }
.HiResTemperature_17_18 	{ stroke:none; fill: #f4b902 }
.HiResTemperature_18_19 	{ stroke:none; fill: #f5ac04 }
.HiResTemperature_19_20 	{ stroke:none; fill: #eea004 }
.HiResTemperature_20_21 	{ stroke:none; fill: #ee9304 }
.HiResTemperature_21_22 	{ stroke:none; fill: #e48604 }
.HiResTemperature_22_23 	{ stroke:none; fill: #e57703 }
.HiResTemperature_23_24 	{ stroke:none; fill: #e16703 }
.HiResTemperature_24_25 	{ stroke:none; fill: #dd5703 }
.HiResTemperature_25_26 	{ stroke:none; fill: #d84703 }
.HiResTemperature_26_27 	{ stroke:none; fill: #cb3a00 }
.HiResTemperature_27_28 	{ stroke:none; fill: #bc2f02 }
.HiResTemperature_28_29 	{ stroke:none; fill: #ad2602 }
.HiResTemperature_29_30 	{ stroke:none; fill: #9d1d02 }
.HiResTemperature_30_31 	{ stroke:none; fill: #8f1402 }
.HiResTemperature_31_32 	{ stroke:none; fill: #7e0a01 }
.HiResTemperature_32_33 	{ stroke:none; fill: #690101 }
.HiResTemperature_33_34 	{ stroke:none; fill: #5a0610 }
.HiResTemperature_34_35 	{ stroke:none; fill: #6c031e }
.HiResTemperature_35_36 	{ stroke:none; fill: #7f0533 }
.HiResTemperature_36_37 	{ stroke:none; fill: #8e0639 }
.HiResTemperature_37_38 	{ stroke:none; fill: #a20842 }
.HiResTemperature_38_39 	{ stroke:none; fill: #b50849 }
.HiResTemperature_39_40 	{ stroke:none; fill: #cd0852 }
.HiResTemperature_40_41 	{ stroke:none; fill: #e10f5e }
.HiResTemperature_41_42 	{ stroke:none; fill: #f10d63 }
.HiResTemperature_42_43 	{ stroke:none; fill: #fc337f }
.HiResTemperature_43_44 	{ stroke:none; fill: #fb4daf }
.HiResTemperature_44_45 	{ stroke:none; fill: #f62fb7 }
.HiResTemperature_45_46 	{ stroke:none; fill: #e41da5 }
.HiResTemperature_46_47 	{ stroke:none; fill: #d00f93 }
.HiResTemperature_47_48 	{ stroke:none; fill: #ba0581 }
.HiResTemperature_48_49 	{ stroke:none; fill: #a1026e }
.HiResTemperature_49_50 	{ stroke:none; fill: #8a025e }
.HiResTemperature_50_inf 	{ stroke:none; fill: #750158 }