.Temperature_inf_50	{ stroke:none; fill: rgb(154,8,117) }
.Temperature_50_48	{ stroke:none; fill: rgb(198,26,155) }
.Temperature_48_46	{ stroke:none; fill: rgb(230,62,200) }
.Temperature_46_44	{ stroke:none; fill: rgb(230,91,251) }
.Temperature_44_42	{ stroke:none; fill: rgb(198,77,249) }
.Temperature_42_40	{ stroke:none; fill: rgb(164,40,235) }
.Temperature_40_38	{ stroke:none; fill: rgb(13,0,212) }
.Temperature_38_36	{ stroke:none; fill: rgb(95,13,189) }
.Temperature_36_34	{ stroke:none; fill: rgb(107,27,227) }
.Temperature_34_32	{ stroke:none; fill: rgb(117,72,250) }
.Temperature_32_30	{ stroke:none; fill: rgb(138,121,247) }
.Temperature_30_28	{ stroke:none; fill: rgb(4,18,179) }
.Temperature_28_26	{ stroke:none; fill: rgb(24,49,214) }
.Temperature_26_24	{ stroke:none; fill: rgb(56,104,235) }
.Temperature_24_22	{ stroke:none; fill: rgb(111,154,247) }
.Temperature_22_20	{ stroke:none; fill: rgb(148,178,242) }
.Temperature_20_18	{ stroke:none; fill: rgb(0,80,171) }
.Temperature_18_16	{ stroke:none; fill: rgb(6,98,196) }
.Temperature_16_14	{ stroke:none; fill: rgb(24,122,219) }
.Temperature_14_12	{ stroke:none; fill: rgb(17,141,250) }
.Temperature_12_10	{ stroke:none; fill: rgb(64,169,255) }
.Temperature_10_8	{ stroke:none; fill: rgb(101,189,247) }
.Temperature_8_6	{ stroke:none; fill: rgb(0,103,140) }
.Temperature_6_5	{ stroke:none; fill: rgb(2,123,163) }
.Temperature_5_4	{ stroke:none; fill: rgb(0,155,186) }
.Temperature_4_3	{ stroke:none; fill: rgb(34,188,212) }
.Temperature_3_2	{ stroke:none; fill: rgb(103,219,230) }
.Temperature_2_1	{ stroke:none; fill: rgb(163,243,247) }
.Temperature_1_0	{ stroke:none; fill: rgb(212,255,255) }
.Temperature_0_1	{ stroke:none; fill: rgb(5,179,138) }
.Temperature_1_2	{ stroke:none; fill: rgb(2,212,149) }
.Temperature_2_4	{ stroke:none; fill: rgb(138,237,187) }
.Temperature_4_6	{ stroke:none; fill: rgb(204,255,208) }
.Temperature_6_8	{ stroke:none; fill: rgb(235,252,207) }
.Temperature_8_10	{ stroke:none; fill: rgb(235,255,122) }
.Temperature_10_12	{ stroke:none; fill: rgb(255,234,128) }
.Temperature_12_14	{ stroke:none; fill: rgb(247,212,35) }
.Temperature_14_16	{ stroke:none; fill: rgb(245,180,0) }
.Temperature_16_18	{ stroke:none; fill: rgb(242,149,0) }
.Temperature_18_20	{ stroke:none; fill: rgb(240,116,0) }
.Temperature_20_22	{ stroke:none; fill: rgb(255,83,36) }
.Temperature_22_24	{ stroke:none; fill: rgb(247,23,7) }
.Temperature_24_26	{ stroke:none; fill: rgb(219,10,7) }
.Temperature_26_28	{ stroke:none; fill: rgb(189,4,4) }
.Temperature_28_30	{ stroke:none; fill: rgb(156,2,20) }
.Temperature_30_32	{ stroke:none; fill: rgb(196,24,98) }
.Temperature_32_34	{ stroke:none; fill: rgb(232,39,120) }
.Temperature_34_36	{ stroke:none; fill: rgb(245,88,174) }
.Temperature_36_38	{ stroke:none; fill: rgb(240,144,216) }
.Temperature_38_inf	{ stroke:none; fill: rgb(247,59,213) }
