/*  Oikeasti rajat olisivat 0,11,22,33,44,56,67,78,89, */
/*  mutta tdmd lienee riittdvdn tarkkaa: */
/*  */
/*  0/8 = 0-11   selkedd */
/*  1/8 = 11-22 */
/*  2/8 = 22-33 */
/*  3/8 = 33-44  puolipilvistd */
/*  4/8 = 44-55 */
/*  5/8 = 55-66 */
/*  6/8 = 66-77 pilvistd */
/*  7/8 = 77-88 */
/*  8/8 = 88-100 */

.TotalCloudCover_11_22	{ stroke: none; fill: rgba(255, 255, 255, 0.20); }
.TotalCloudCover_22_33	{ stroke: none; fill: rgba(244, 244, 244, 0.30); }
.TotalCloudCover_33_44	{ stroke: none; fill: rgba(234, 234, 234, 0.30); }
.TotalCloudCover_44_55	{ stroke: none; fill: rgba(224, 224, 224, 0.30); }
.TotalCloudCover_55_66	{ stroke: none; fill: rgba(214, 214, 214, 0.50); }
.TotalCloudCover_66_77	{ stroke: none; fill: rgba(204, 204, 204, 0.50); }
.TotalCloudCover_77_88	{ stroke: none; fill: rgba(194, 194, 194, 0.50); }
.TotalCloudCover_88	{ stroke: none; fill: rgba(184, 184, 184, 0.50); }
