.DewPoint_-50   { stroke: none; fill: rgba(154,8,117,1.00); }
.DewPoint_-50_-48   { stroke: none; fill: rgba(198,26,155,1.00); }
.DewPoint_-48_-46   { stroke: none; fill: rgba(230,62,200,1.00); }
.DewPoint_-46_-44   { stroke: none; fill: rgba(230,91,251,1.00); }
.DewPoint_-44_-42   { stroke: none; fill: rgba(198,77,249,1.00); }
.DewPoint_-42_-40   { stroke: none; fill: rgba(164,40,235,1.00); }
.DewPoint_-40_-38   { stroke: none; fill: rgba(134,0,212,1.00); }
.DewPoint_-38_-36   { stroke: none; fill: rgba(95,13,189,1.00); }
.DewPoint_-36_-34   { stroke: none; fill: rgba(107,27,227,1.00); }
.DewPoint_-34_-32   { stroke: none; fill: rgba(117,72,250,1.00); }
.DewPoint_-32_-30   { stroke: none; fill: rgba(138,121,247,1.00); }
.DewPoint_-30_-28   { stroke: none; fill: rgba(4,18,179,1.00); }
.DewPoint_-28_-26   { stroke: none; fill: rgba(24,49,214,1.00); }
.DewPoint_-26_-24   { stroke: none; fill: rgba(56,104,235,1.00); }
.DewPoint_-24_-22   { stroke: none; fill: rgba(111,154,247,1.00); }
.DewPoint_-22_-20   { stroke: none; fill: rgba(148,178,242,1.00); }
.DewPoint_-20_-18   { stroke: none; fill: rgba(0,80,171,1.00); }
.DewPoint_-18_-16   { stroke: none; fill: rgba(6,98,196,1.00); }
.DewPoint_-16_-14   { stroke: none; fill: rgba(24,122,219,1.00); }
.DewPoint_-14_-12   { stroke: none; fill: rgba(17,141,250,1.00); }
.DewPoint_-12_-10   { stroke: none; fill: rgba(64,169,255,1.00); }
.DewPoint_-10_-8    { stroke: none; fill: rgba(101,189,247,1.00); }
.DewPoint_-8_-6 { stroke: none; fill: rgba(0,103,140,1.00); }
.DewPoint_-6_-5 { stroke: none; fill: rgba(2,123,163,1.00); }
.DewPoint_-5_-4 { stroke: none; fill: rgba(0,155,186,1.00); }
.DewPoint_-4_-3 { stroke: none; fill: rgba(34,188,212,1.00); }
.DewPoint_-3_-2 { stroke: none; fill: rgba(103,219,230,1.00); }
.DewPoint_-2_-1 { stroke: none; fill: rgba(163,243,247,1.00); }
.DewPoint_-1_0  { stroke: none; fill: rgba(212,255,255,1.00); }
.DewPoint_0_1   { stroke: none; fill: rgba(5,179,138,1.00); }
.DewPoint_1_2   { stroke: none; fill: rgba(2,212,149,1.00); }
.DewPoint_2_4   { stroke: none; fill: rgba(138,237,187,1.00); }
.DewPoint_4_6   { stroke: none; fill: rgba(204,255,208,1.00); }
.DewPoint_6_8   { stroke: none; fill: rgba(235,252,207,1.00); }
.DewPoint_8_10  { stroke: none; fill: rgba(235,255,122,1.00); }
.DewPoint_10_12 { stroke: none; fill: rgba(255,234,128,1.00); }
.DewPoint_12_14 { stroke: none; fill: rgba(247,212,35,1.00); }
.DewPoint_14_16 { stroke: none; fill: rgba(245,180,0,1.00); }
.DewPoint_16_18 { stroke: none; fill: rgba(242,149,0,1.00); }
.DewPoint_18_20 { stroke: none; fill: rgba(240,116,0,1.00); }
.DewPoint_20_22 { stroke: none; fill: rgba(255,83,36,1.00); }
.DewPoint_22_24 { stroke: none; fill: rgba(247,23,7,1.00); }
.DewPoint_24_26 { stroke: none; fill: rgba(219,10,7,1.00); }
.DewPoint_26_28 { stroke: none; fill: rgba(189,4,4,1.00); }
.DewPoint_28_30 { stroke: none; fill: rgba(156,2,20,1.00); }
.DewPoint_30_32 { stroke: none; fill: rgba(196,24,98,1.00); }
.DewPoint_32_34 { stroke: none; fill: rgba(232,39,120,1.00); }
.DewPoint_34_36 { stroke: none; fill: rgba(245,88,174,1.00); }
.DewPoint_36_38 { stroke: none; fill: rgba(240,144,216,1.00); }

